.vue-searchable-select {
  position: relative;

  input {
    width: 100%;
    padding-right: 27px;
  }

  ul {
    position: absolute;

    background: white;

    overflow-y: scroll;
    max-height: 150px;
    left: 0;
    right: 0;
    list-style: none;
    padding: 0;
    border: 1px solid grey;
    border-top: none;
    border-radius: 2px;
    z-index: 1;
  }

  button {
    border: none;
    background: none;
    width: 100%;
    text-align: left;

    span {
      display: inline-block;
      width: 100%;
      border-radius: 2px;
    }
  }
}

.vue-searchable-select-hover {
  span {
    background-color: #F3F7F9;
  }
}

.vue-searchable-select-selected {
  span {
    background-color: #D1E6F8;
  }
}

.vue-searchable-select-no-results {
  font-style: italic;
}

.vue-searchable-select-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  cursor: pointer;

  padding: 10px;
}
